h1 {
  color: #B3CCFF; 
  font-family:"Fira Sans";
  text-shadow: 4px 4px grey;
  font-size: 66px;
  font-variant: small-caps;
  text-align: center; 
}


#deb{
  color:#002266;
  text-align:center;
}

h2{
  color:#002266;
  font-family:"Fira Sans";
  font-size: 44px;
  font-variant: small-caps;
  text-align: start;
  text-decoration: underline;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 35px;
}

h3{
  color:#002266;
  font-family:"Fira Sans";
  font-size: 20px;
  font-weight:400;
}

h4{
  color: #002266;
  font-family:"Fira Sans";
  font-size: 22px;
  text-decoration: underline;
  font-style: italic;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
}

h5{
  color:#002266;
  font-family:"Fira Sans";
  font-size:18px;
  font-style:italic;
  font-weight: 200;
}

#corps{ 
  justify-content: center;
  justify-content: space-evenly;
}

#body{
  background: #ffffff;
  justify-content: space-evenly;
}

#menu{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 10px 10px;
  margin: 0 175px 0 175px;
}

#corps2{
  padding: 5px 5px 5px 5px;
  margin: 0 175px 0 175px;
}

#monProfil{
  margin: 20px 20px 20px 20px;
  justify-content: space-evenly;
}

#cache1:hover{
  background-color:#B3CCFF ;
  border-radius:50px 50px 50px 50px;
  box-shadow: 5px;
}

#cache2:hover{
  background-color:#B3CCFF ;
  border-radius:50px 50px 50px 50px;
  box-shadow: 5px;
}

#cache3:hover{
  background-color:#B3CCFF ;
  border-radius:50px 50px 50px 50px;
  box-shadow: 5px;
}

#cache4:hover{
  background-color:#B3CCFF ;
  border-radius:50px 50px 50px 50px;
  box-shadow: 5px;
}

#cache5:hover{
  background-color:#B3CCFF ;
  border-radius:50px 50px 50px 50px;
  box-shadow: 5px;
}

#cache6:hover{
  background-color:#B3CCFF ;
  border-radius:50px 50px 50px 50px;
  box-shadow: 5px;
}

/*profil*/

#prof{
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-content: center;

}

#pdp{
  height:250px;
  width: 250px;
  border-radius:50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  box-shadow: 2px 2px;
}

#para1{
  justify-content:flex-end;
  height: 100px;
  width: 400px;
}

/*expériences professionnelles*/

#mesexpé{
  margin: 20px 20px 20px 20px;
}

#lac{
 width: 100px;
 height: 100px;
 object-fit: scale-down;
}

#exp4{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  border-style:solid;
  border-width: 1px;
  border-color:#484D74;
  padding: 5px 5px;
}

#map1{
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#exp1{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  border-style:solid;
  border-width: 1px;
  border-color:#484D74;
  padding: 5px 5px;
}

#come{
 width: 100px;
 height: 100px;
 object-fit: scale-down;
}

#map2{
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#exp2{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  border-style:solid;
  border-width: 1px;
  border-color:#484D74;
  padding: 5px 5px;
}

#bnp1{
 width: 200px;
 height: 200px;
 object-fit: scale-down;
}

#map3{
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#exp3{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  border-style:solid;
  border-width: 1px;
  border-color:#484D74;
  padding: 5px 5px;
}

#bnp2{
 width: 200px;
 height: 200px;
 object-fit: scale-down;
}

#map4{
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

/*formations*/
#mesForms{
  margin: 20px 20px 20px 20px;
}

#form1{
  display:flex;
  flex-direction:row;
  border-style:solid;
  border-width: 1px;
  border-color:#484D74;
  padding: 10px 10px;
  justify-content:space-evenly;
}

#dau1{
 width: 250px;
 height: 250px;
 object-fit: scale-down;
}

#carte1{
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#form2{
  display:flex;
  flex-direction:row;
  border-style:solid;
  border-width: 1px;
  border-color:#484D74;
  padding: 10px 10px;
  justify-content:space-evenly;
}

#dau2{
 width: 250px;
 height: 250px;
 object-fit: scale-down;
}

#carte2{
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#form3{
  display:flex;
  flex-direction:row;
  border-style:solid;
  border-width: 1px;
  border-color:#484D74;
  padding: 10px 10px;
  justify-content:space-evenly;
}

#saclay1{
 width: 125px;
 height: 125px;
 object-fit: scale-down;
}

#carte3{
  border-radius: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

/*langues et info*/
#mesleti{
  margin: 20px 20px 20px 20px;
  justify-content: space-evenly;
}

/* #toeic{ */
/*   width: 150px; */
/*   height:150px; */
/*   object-fit:scale-down; */
/*   justify-content: flex-end; */
/* } */


li{
display : list-item;
list-style-type:square;
font-family:"Zilla Slab";
padding-top: 10px; 
padding-bottom: 10px;
}

p{
  color:#003366;
  font-family:"Zilla Slab";  
}

/* contact*/

#mecontacter{
  margin: 20px 20px 20px 20px;
  justify-content: space-around;
  align-content: space-around;
}

form{
  font-family:"Zilla Slab";
  color:#000000;
}

#pargraphe{
  height: 150px;
  width: 700px;
  border-radius: 20px;
  border-width: 2px;
}
#nom{
  border-radius: 20px;
  border-width: 2px;
  height: 25px;
  width: 250px;
}
#e-mail{
  border-radius: 20px;
  border-width: 2px;
  height: 25px;
  width: 250px;
}

/*bas de page*/
footer{
  background-color:#ffffff;
}

#bas{
  color:#484D74;
}

#link{
  width: 60px;
  height:60px;
  object-fit:scale-down;
  align-content: center;
  justify-content: center;
  padding: 10px 10px;
}

#link2{
  width: 60px;
  height:60px;
  object-fit:scale-down;
  align-content: center;
  justify-content: center;
  padding: 10px 10px;
}

#foot{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content:center;
  margin: 100px 175px 175px 175px;
  padding: 10px;
}
